html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: 'aardvark';
  src: url("../../fonts/AARDV.TTF");
}

/*sliding nav menu*/
#site_wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#site_canvas {
  width: 100%;
  min-height: 100%;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  padding-bottom: 140px;
}

@media only screen and (max-width: 380px) {
  #site_canvas {
    padding-bottom: 230px;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  #site_canvas {
    padding-bottom: 230px;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  #site_canvas {
    padding-bottom: 230px;
  }
}

@media only screen and (max-width: 380px) {
  .carousel-open #site_canvas {
    min-height: 950px;
  }
}

#site_menu {
  width: 300px;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  background-color: #F16142;
  color: #FFFFFF;
  padding: 1em;
}

#site_menu a {
  text-decoration: none;
}

#site_menu h2 {
  text-align: center;
  font-family: "aardvark", georgia, serif;
  color: #1A3447;
}

#site_menu .tagline {
  display: block;
  width: 250px;
  margin: 0 auto;
}

#site_menu ul {
  list-style-type: none;
  padding: 0;
}

#site_menu ul li {
  color: #1A3447;
  margin: 1em 0;
  font-size: 120%;
  font-family: Verdana, Geneva, sans-serif;
}

#site_menu ul li img {
  padding-right: 1em;
  width: 46px;
  height: 30px;
  vertical-align: bottom;
}

#site_wrapper.show-nav #site_canvas {
  -webkit-transform: translate3d(300px, 0, 0);
          transform: translate3d(300px, 0, 0);
}

#menu_burger {
  display: none;
  font-size: 3em;
  margin: 0.25em 0 0 0.5em;
  padding-bottom: 0.25em;
  color: #1A3447;
}

@media only screen and (max-width: 380px) {
  #menu_burger {
    display: inline-block;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  #menu_burger {
    display: inline-block;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  #menu_burger {
    display: inline-block;
  }
}

#slide-menu-close {
  width: 50px;
  height: 50px;
  border: 3px solid #1A3447;
  background-color: #F16142;
  font-size: 2em;
  border-radius: 50%;
  line-height: 45px;
  margin: 0 auto;
  color: #1A3447;
}

.close-button-holder {
  width: 100%;
  text-align: center;
}

.header-top {
  position: relative;
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .header-top {
    height: 55px;
  }
}

.header-top hr {
  position: absolute;
  width: 100%;
  color: #1A3447;
  background-color: #1A3447;
  border: none;
  z-index: -10;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.header-top #logo_image {
  margin: 1em 0 0 40px;
  width: 180px;
  max-width: 20%;
  height: auto;
  border: none;
}

@media only screen and (max-width: 380px) {
  .header-top #logo_image {
    width: 120px;
    height: 120px;
    float: right;
    max-width: 50%;
    margin-right: 1em;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .header-top #logo_image {
    width: 120px;
    height: 120px;
    float: right;
    max-width: 50%;
    margin-right: 1em;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .header-top #logo_image {
    width: 150px;
    height: 150px;
    float: right;
    max-width: 50%;
    margin-right: 1em;
  }
}

.menu-nav {
  display: inline-block;
  vertical-align: top;
  width: 72%;
  padding-top: 3em;
}

.menu-nav ul {
  width: 100%;
  list-style-type: none;
  font-family: "aardvark", georgia, serif;
  font-size: 1.5em;
  color: #1A3447;
  margin: 0;
  padding: 0;
}

.menu-nav li {
  display: inline-block;
  width: 24%;
  height: 50px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .menu-nav li {
    width: 23%;
  }
}

@media only screen and (max-width: 380px) {
  .menu-nav {
    display: none;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .menu-nav {
    display: none;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .menu-nav {
    display: none;
  }
}

.menu-nav a {
  text-decoration: none;
  color: inherit;
}

.fatty {
  height: 24px;
  top: 7em;
}

@media only screen and (max-width: 380px) {
  .fatty {
    top: 5em;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .fatty {
    top: 5em;
  }
}

.skinny {
  height: 5px;
  top: 8.75em;
}

@media only screen and (max-width: 380px) {
  .skinny {
    top: 6.75em;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .skinny {
    top: 6.75em;
  }
}

.lt-ie10 .nav-icon-item {
  display: none;
}

.nav-word-item, .nav-icon-item {
  display: inline-block;
  width: 100%;
  height: 45px;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-word-item {
  top: 0;
  left: 0;
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .nav-word-item {
    display: none;
  }
}

.nav-icon-item {
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-nav li:not(.current-page):hover .nav-word-item {
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
}

.menu-nav li:not(.current-page):hover .nav-icon-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.current-page .nav-icon-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.current-page .nav-word-item {
  display: none;
}

.lt-ie10 .current-page .nav-word-item {
  display: block;
  text-decoration: underline;
}

.nav-icon-item {
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .nav-icon-item {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.nav-icon-item .nav-icon {
  height: 45px;
  margin: 0;
  width: 45px;
}

@media only screen and (max-width: 380px) {
  .carousel-open .header-top hr {
    opacity: 0;
  }
}

.icon-wrapper {
  padding: 0 5em 5em 5em;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

@media only screen and (max-width: 380px) {
  .icon-wrapper {
    padding: 15px;
    width: 100%;
    margin-top: 5em;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .icon-wrapper {
    padding: 0;
    width: 90%;
    margin-top: 6em;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .icon-wrapper {
    padding: 0;
    width: 90%;
    margin-top: 6em;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .icon-wrapper {
    padding: 0;
    width: 90%;
    margin-top: 1em;
    margin-bottom: 3em;
  }
}

.icon-holder {
  display: inline-block;
  width: 115px;
  height: 110px;
  margin: 2em 2em;
  cursor: pointer;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

@media only screen and (max-width: 380px) {
  .icon-holder {
    margin: 0.5em;
    width: 15%;
    height: 77px;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .icon-holder {
    margin: 2em 0.5em;
    width: 18%;
    height: 70px;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .icon-holder {
    margin: 2em 0;
    width: 24%;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .icon-holder {
    margin: 2em 0;
    width: 24%;
  }
}

.carousel-open .icon-holder {
  opacity: 0;
}

.lt-ie9 .carousel-open .icon-holder {
  display: none;
}

.icon-holder svg {
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .icon-holder svg {
    width: 60%;
    display: block;
    margin: 0 auto 1em;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .icon-holder svg {
    width: 60%;
    display: block;
    margin: 0 auto 1em;
  }
}

.icon-holder svg path, .icon-holder svg circle, .icon-holder svg polygon, .icon-holder svg ellipse, .icon-holder svg rect {
  fill: #1A3447;
}

.icon-holder:hover svg path, .icon-holder:hover svg circle, .icon-holder:hover svg polygon, .icon-holder:hover svg ellipse, .icon-holder:hover svg rect {
  fill: #F16142;
}

.lt-ie9 .icon-holder:hover .sport-name {
  color: #F16142;
}

.icon-fallback {
  display: none;
}

.lt-ie9 .icon-fallback {
  display: inline-block;
  width: 100%;
}

.sport-name {
  font-family: "aardvark", georgia, serif;
  font-weight: 900;
  font-size: 120%;
  color: #1A3447;
}

@media only screen and (max-width: 380px) {
  .sport-name {
    display: none;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .sport-name {
    display: none;
  }
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  padding: 20px 0;
  background-color: #1A3447;
}

@media only screen and (max-width: 380px) {
  .page-footer {
    height: 238px;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .page-footer {
    height: 238px;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .page-footer {
    height: 238px;
  }
}

.page-footer ul {
  list-style-type: none;
  color: #FFFFFF;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 90%;
  float: left;
  margin: 0.25em 0 0 0;
}

@media only screen and (max-width: 380px) {
  .page-footer ul {
    display: none;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .page-footer ul {
    display: none;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .page-footer ul {
    display: none;
  }
}

.page-footer ul li {
  padding: 0.25em 0;
}

.page-footer ul li:hover {
  color: #F16142;
}

.page-footer .footer-center {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}

@media only screen and (max-width: 380px) {
  .page-footer .footer-center {
    width: 100%;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .page-footer .footer-center {
    width: 100%;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .page-footer .footer-center {
    width: 100%;
  }
}

.page-footer .footer-center img {
  width: 280px;
  margin-top: 1em;
}

@media only screen and (max-width: 380px) {
  .page-footer .footer-center img {
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .page-footer .footer-center img {
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .page-footer .footer-center img {
    margin-bottom: 2em;
  }
}

.page-footer .footer-center p {
  margin: 0;
  position: relative;
  top: 40px;
  font-size: 90%;
  font-family: Verdana, Geneva, sans-serif;
}

@media only screen and (max-width: 380px) {
  .page-footer .footer-center p {
    top: 0;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .page-footer .footer-center p {
    top: 0;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .page-footer .footer-center p {
    top: 0;
  }
}

.page-footer .facebook {
  display: none;
  float: right;
  position: relative;
  top: -45px;
  margin-right: 2em;
}

@media only screen and (max-width: 380px) {
  .page-footer .facebook {
    float: none;
    width: 48px;
    margin: 2em auto;
    top: 0;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .page-footer .facebook {
    float: none;
    width: 48px;
    margin: 2em auto;
    top: 0;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .page-footer .facebook {
    float: none;
    width: 48px;
    margin: 2em auto;
    top: 0;
  }
}

.page-footer a {
  text-decoration: none;
  color: inherit;
}

.carousel-wrapper {
  position: absolute;
  width: 100%;
  min-height: 60%;
  top: 14em;
  z-index: 100;
  -webkit-transform: translate3d(-2000px, 0, 0);
          transform: translate3d(-2000px, 0, 0);
}

@media only screen and (max-width: 380px) {
  .carousel-wrapper {
    top: 9em;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .carousel-wrapper {
    top: 11em;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .carousel-wrapper {
    top: 13em;
  }
}

.lt-ie10 .carousel-wrapper {
  left: -2000px;
}

.sport-carousel {
  width: 100%;
  height: auto;
}

.sport-slide {
  width: 80%;
  margin: 0 10%;
  position: absolute;
  height: 550px;
  -webkit-transition: opacity 2s, -webkit-transform 0.5s;
  transition: opacity 2s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 2s;
  transition: transform 0.5s, opacity 2s, -webkit-transform 0.5s;
  z-index: 1;
  font-family: "Georgia", Times, serif;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 380px) {
  .sport-slide {
    display: none;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .sport-slide {
    display: none;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .sport-slide {
    display: none;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .sport-slide {
    display: none;
  }
}

.sport-slide .nav-label {
  display: none;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 600;
}

.sport-slide.next {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  background-color: #FFFFFF;
}

.sport-slide.next * {
  display: none;
}

.sport-slide.next .nav-label {
  position: relative;
  top: 320px;
  left: 101%;
  display: inline-block;
  margin: 0;
  color: #c8c8c8;
}

@media only screen and (max-width: 380px) {
  .sport-slide.next .nav-label {
    display: none;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .sport-slide.next .nav-label {
    display: none;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .sport-slide.next .nav-label {
    display: none;
  }
}

.sport-slide.prev {
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  background-color: #FFFFFF;
}

.sport-slide.prev * {
  display: none;
}

.sport-slide.prev .nav-label {
  position: relative;
  top: 320px;
  width: 10%;
  text-align: right;
  left: -11%;
  display: inline-block;
  margin: 0;
  color: #c8c8c8;
}

@media only screen and (max-width: 380px) {
  .sport-slide.prev .nav-label {
    display: none;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .sport-slide.prev .nav-label {
    display: none;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .sport-slide.prev .nav-label {
    display: none;
  }
}

.lt-ie10 .sport-slide.prev .nav-label {
  top: 43%;
  left: -12%;
  width: 10%;
  text-align: right;
}

.lt-ie10 .sport-slide.next .nav-label {
  top: 43%;
  left: 101%;
}

.lt-ie10 .sport-slide.prev, .lt-ie10 .sport-slide.next {
  left: 0;
}

.sport-slide.selected {
  z-index: 100;
  border: 4px solid #1A3447;
  box-shadow: 8px 8px 8px #dddddd;
}

@media only screen and (max-width: 380px) {
  .sport-slide.selected {
    display: block;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .sport-slide.selected {
    display: block;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .sport-slide.selected {
    display: block;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .sport-slide.selected {
    display: block;
    padding-top: 40px;
  }
}

.carousel-nav {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 255px;
  z-index: 200;
  cursor: pointer;
  overflow: hidden;
}

@media only screen and (max-width: 380px) {
  .carousel-nav {
    top: -30px;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .carousel-nav {
    top: -30px;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .carousel-nav {
    top: -30px;
  }
}

.carousel-nav img {
  display: none;
  width: 100%;
}

.lt-ie9 .carousel-nav img {
  display: inline-block;
  width: 100%;
}

.carousel-nav svg {
  width: 100%;
}

.carousel-nav:hover svg path {
  fill: #F16142;
}

.next-arrow {
  right: 5%;
}

.prev-arrow {
  left: 5%;
}

#exit-button {
  position: absolute;
  left: 47%;
  top: 515px;
  z-index: 2000;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 380px) {
  #exit-button {
    left: 39%;
    top: -35px;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  #exit-button {
    left: 45%;
    top: -35px;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  #exit-button {
    left: 45%;
    top: -35px;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  #exit-button {
    left: 48%;
    top: -35px;
  }
}

#exit-button svg {
  width: 100%;
  height: 100%;
}

#exit-button img {
  display: none;
}

.lt-ie9 #exit-button img {
  display: inline-block;
  width: 100%;
}

#exit-button:hover svg path.navy {
  fill: #F16142;
}

.slide-image-holder {
  min-height: 500px;
  width: 45%;
  margin-top: 1em;
  margin-left: 1em;
  float: left;
}

@media only screen and (max-width: 380px) {
  .slide-image-holder {
    display: none;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .slide-image-holder {
    display: none;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .slide-image-holder {
    display: none;
  }
}

.slide-image-holder img {
  display: block;
  width: 400px;
  margin: 0 auto;
  height: 500px;
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .slide-image-holder img {
    width: 100%;
    height: auto;
  }
}

.slide-info {
  width: 45%;
  height: 90%;
  float: right;
  margin-top: 1em;
  margin-right: 1em;
  overflow-y: auto;
}

.slide-info h1 {
  margin: 0;
  margin-right: 1px;
  border: 1px solid;
  border-bottom: none;
  text-align: center;
  font-family: "aardvark", georgia, serif;
  color: #1A3447;
  text-transform: uppercase;
  padding: 0.25em 0;
  letter-spacing: 1px;
}

@media only screen and (max-width: 380px) {
  .slide-info h1 {
    margin-right: 0;
    border: none;
    font-size: 115%;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .slide-info h1 {
    margin-right: 0;
    border: none;
    font-size: 115%;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .slide-info h1 {
    margin-right: 0;
    border: none;
    font-size: 115%;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .slide-info h1 {
    margin-right: 0;
    border: none;
    font-size: 115%;
  }
}

@media only screen and (max-width: 380px) {
  .slide-info {
    width: 100%;
    padding-top: 40px;
    margin: 0;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .slide-info {
    width: 100%;
    padding-top: 40px;
    margin: 0;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .slide-info {
    width: 100%;
    padding-top: 40px;
    margin: 0;
  }
}

.product-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #1A3447;
  font-family: Verdana, Geneva, sans-serif;
  color: #1A3447;
}

@media only screen and (max-width: 380px) {
  .product-table {
    border: none;
    border-top: 1px solid #1A3447;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .product-table {
    border: none;
    border-top: 1px solid #1A3447;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .product-table {
    border: none;
    border-top: 1px solid #1A3447;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .product-table {
    border: none;
    border-top: 1px solid #1A3447;
  }
}

.product-table thead {
  text-align: center;
  font-size: 120%;
  font-family: Verdana, Geneva, sans-serif;
}

.product-table th, .product-table td {
  border: 1px solid #1A3447;
}

@media only screen and (max-width: 380px) {
  .product-table th, .product-table td {
    border: none;
    border-bottom: 1px solid #1A3447;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .product-table th, .product-table td {
    border: none;
    border-bottom: 1px solid #1A3447;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .product-table th, .product-table td {
    border: none;
    border-bottom: 1px solid #1A3447;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .product-table th, .product-table td {
    border: none;
    border-bottom: 1px solid #1A3447;
  }
}

.product-table .item-number {
  width: 10%;
}

@media only screen and (max-width: 380px) {
  .product-table .item-number {
    font-size: small;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .product-table .item-number {
    font-size: small;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .product-table .item-number {
    font-size: small;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .product-table .item-number {
    font-size: small;
  }
}

.product-table .product-description {
  width: 90%;
}

@media only screen and (max-width: 380px) {
  .product-table .product-description {
    font-size: small;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .product-table .product-description {
    font-size: small;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .product-table .product-description {
    font-size: small;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .product-table .product-description {
    font-size: small;
  }
}

.product-table .product-detail {
  font-size: small;
}

.about-main {
  max-width: 800px;
  margin: 2em auto 0;
  padding: 0 1em;
}

@media only screen and (max-width: 380px) {
  .about-main {
    margin-top: 7em;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .about-main {
    margin-top: 7em;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .about-main {
    margin-top: 7em;
  }
}

.about-main h1 {
  font-family: "aardvark", georgia, serif;
  color: #1A3447;
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.about-main p {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 19px;
  margin-bottom: 3em;
}

.delivery-main {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2em;
  padding: 0 1em;
}

@media only screen and (max-width: 380px) {
  .delivery-main {
    margin-top: 7em;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .delivery-main {
    margin-top: 7em;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .delivery-main {
    margin-top: 7em;
  }
}

.delivery-main h1 {
  font-family: "aardvark", georgia, serif;
  color: #1A3447;
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.delivery-main p {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 19px;
  margin-bottom: 1em;
  text-align: center;
}

.delivery-main a {
  text-decoration: none;
  color: #F16142;
}

.delivery-main img {
  display: block;
  width: 50%;
  margin: 0 auto 2em;
  padding-top: 2em;
}

.contact-main {
  width: 100%;
  max-width: 1100px;
  margin: 2em auto 2em;
}

@media only screen and (max-width: 380px) {
  .contact-main {
    padding: 0 1em;
    margin-top: 7em;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .contact-main {
    padding: 0 1em;
    margin-top: 7em;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .contact-main {
    padding: 0 1em;
    margin-top: 7em;
  }
}

.contact-main h1 {
  font-family: "aardvark", georgia, serif;
  color: #1A3447;
  text-align: center;
}

.contact-main p {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

.contact-form {
  width: 100%;
  max-width: 700px;
  margin: 2em 0;
  margin-left: 10%;
  font-family: Verdana, Geneva, sans-serif;
}

@media only screen and (max-width: 380px) {
  .contact-form {
    margin-left: 0;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .contact-form {
    margin-left: 0;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .contact-form {
    margin-left: 0;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .contact-form {
    margin-left: 0;
  }
}

.contact-form .form-group {
  width: 100%;
  margin: 1em 0;
}

.contact-form .form-group label {
  display: inline-block;
  width: 30%;
  text-align: right;
  padding-right: 1em;
  vertical-align: top;
  font-weight: 600;
  font-size: 90%;
  color: #1A3447;
}

@media only screen and (max-width: 380px) {
  .contact-form .form-group label {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .contact-form .form-group label {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .contact-form .form-group label {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media only screen and (min-width: 606px) and (max-width: 1000px) {
  .contact-form .form-group label {
    width: 25%;
  }
}

.contact-form .form-group input, .contact-form .form-group textarea {
  display: inline-block;
  width: 68%;
  background-color: #eeeeee;
}

@media only screen and (max-width: 380px) {
  .contact-form .form-group input, .contact-form .form-group textarea {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 381px) and (max-width: 525px) {
  .contact-form .form-group input, .contact-form .form-group textarea {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 526px) and (max-width: 605px) {
  .contact-form .form-group input, .contact-form .form-group textarea {
    display: block;
    width: 100%;
  }
}

.contact-form .form-group textarea {
  border: none;
  resize: none;
  padding: 0.5em;
}

.contact-form .form-group input {
  height: 2em;
  border-style: none;
  padding: 0.25em 0.5em;
}

.contact-form #form-submit {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 110%;
  border-style: none;
  background-color: #1A3447;
  color: #FFFFFF;
  height: 40px;
  cursor: pointer;
}

.contact-form #form-submit:hover {
  background-color: #F16142;
}

.contact-form .error-message {
  font-size: 90%;
  color: #F16142;
}

.contact-details {
  margin-top: 2em;
}

.contact-details img {
  width: 20px;
  margin: 0 1em;
  vertical-align: middle;
}
